.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#screen {
    display: table;
    margin: 5rem auto;
}

.controles .row {
    --bs-gutter-x: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.controles .row.botao {
    margin-top: 5px;
    margin-bottom: 5px;
}

.controles .row.botao button {
    width: 100%;
}

#coordenadas-mouse {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    font-size: 14px;
}

#mouseX,
#mouseY {
    width: 50px;
}

.title {
    font-size: 35px;
    text-align: center;
}

.dropdown-menu button {
    width: 25rem;
    height: 3rem;
    margin-left: 7rem;
}

.dropdown-menu li {
    display: inline;
}

.dropdown-menu a {
    text-decoration: none;
}

.config {
    margin-top: 70px;
    font-size: 20px;
}

#desenhar-elipse {
    width: 25rem;
    height: 2rem;
    float: left;
    margin-right: 7rem;
    margin-left: 27.5rem;
}

#desenhar-circunferencia {
    width: 25rem;
    height: 2rem;
    float: left;
    margin-right: 7rem;
    margin-left: 27.5rem;
}

#limpar {
    width: 25rem;
    height: 2rem;
}

#x_origem {
    float: left;
    margin-left: 7rem;
    margin-right: 1rem;
}

#raio_x {
    float: left;
    margin-left: 7rem;
    margin-right: 1rem;
}

#algoritmo {
    margin-left: 14rem;
    margin-bottom: 5rem;
}

#algoritmoCirc {
    margin-left: 1rem;
    margin-bottom: 5rem;
}

#algoritmoReta {
    float: left;
    margin-left: 7rem;
    margin-right: 3rem;
}

#raio {
    margin-left: 7rem;
    margin-bottom: 5rem;
    float: left;
}

#xa {
    float: left;
    margin-left: 7rem;
    margin-right: 1rem;
}

#xb {
    float: left;
    margin-left: 7rem;
    margin-right: 1rem;
}

#desenhar {
    width: 25rem;
    height: 2rem;
    float: left;
    margin-right: 7rem;
    margin-left: 27.5rem;
}